:root {
  /* ===== BRAND COLORS ===== */
  --primary-blue: #056770;
  --light-blue: #E0F2FE;
  --dark-blue: #1EA3AF;
  --mint-green: #10B981;
  --soft-teal: #99F6E4;

  /* ===== BACKGROUND ===== */
  --bg-light: #F9FAFB;

  /* ===== TEXT ===== */
  --text-primary: #111827;
  --text-secondary: #6B7280;
  --icon-color: #8A8AA3;

  /* ===== STATUS COLORS ===== */
  --info: #3B82F6;
  --error: #EF4444;
  --warning: #FACC15;
  --success: #22C55E;

  /* ===== CARD ===== */
  --card-surface: #FFFFFF;

  /* ===== BORDER ===== */
  --border-line: #E5E7EB;
}


body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: #f6f7fb;
  direction: rtl;
}

.sb-sidebar {
  width: 305px;          /* نفس قياس Figma */
  min-height: 100vh;
  border-radius: 20px;
  position: sticky;
  top: 0;              /* أو 16px إذا بدك مسافة */
  height: 115vh;       /* ياخد طول الشاشة */
}

.sb-header {
  background: var(--card-surface);
  border-radius: 16px;
   width: 305px;
  height: 96px;
  gap: 40;
}

.sb-logo {
  width: 100px;
}

.sb-section {
  background: var(--card-surface);
  border-radius: 16px;
  padding: 24px 24px;
  width: 305px;
}

.sb-section-title {
  font-size: 18px;
  color: var(--dark-blue);
  font-weight: 600;
  margin-bottom: 12px;
  padding: 0 15px;

}
.sidebar-section-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 270px;
  gap: 0;
 
}

.sidebar-section-more {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 135px;
  gap: 0;
}


.sb-sidebar .sb-link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 16px;
  border-radius: 16px;
  color: var(--text-secondary);
  font-size: 16px;
  height: 45px;
  width:257px;
   font-weight: 600;
}

.sb-sidebar .sb-link img {
  width: 24px;
  height: 24px;
}

.sb-sidebar .sb-link:hover {
  background: var(--light-blue);
  color: var(--dark-blue);
}

.sb-sidebar .sb-link.active {
  background: #dff2ff;
  color: #00a8a8;
  font-weight: 600;
  
}



/* حاوية الأيقونة */
.sb-icon {
  position: relative;
  width: 20px;   /* عدلي حسب حجم الأيقونة */
  height: 20px;
  display: inline-block;
}

/* كل الصور بنفس المكان */
.sb-icon img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}

/* الحالة العادية */
.sb-icon-default {
  opacity: 1;
}

/* الحالة الزرقاء مخفية */
.sb-icon-hover {
  opacity: 0;
}

/* عند hover */
.sb-link:hover .sb-icon-default {
  opacity: 0;
}

.sb-link:hover .sb-icon-hover {
  opacity: 1;
}

/* عند active (لوحة التحكم مثلاً) */
.sb-link.active .sb-icon-default {
  opacity: 0;
}

.sb-link.active .sb-icon-hover {
  opacity: 1;
}






 /* MAIN */
    .mw-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
   
    }


    /* TOP HEADER */
    .mw-wrapper .hdr-header {
      background: #fff;
      border-radius: 20px;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      flex-wrap: wrap;
      padding: 1.5rem;
      height: 96px;
      width: 97%;
      margin-top: 1rem;
      margin-right: auto;
      margin-left: auto;
    }

    .hdr-welcome-subtitle{
        font-size: 20px;
        color: #8A8AA3;
        font-weight: 500;
    }

    .hdr-welcome-name{
        color: #121217;
        font-weight: bold;
        font-size: 20px;
    }
 

    .hdr-icon-btn {
      border-radius: 8px;
      background: #F7F7F7;
      border: 1px solid #D1D5DB;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .hdr-notification-btn{
        width: 40px;
        height: 40px;
    }


    .hdr-search-btn{
        width: 48px;
        height: 40px;
    }

    .hdr-add-btn{
        width: 200px;
        height: 42px;
        padding: 8px 12px;
        border-radius: 360px;
    }

     .hdr-add-btn span{
        padding: 0 8px;
     }


    .icon-btn .badge {
      position: absolute;
      top: -6px;
      left: 22px;
      font-size: 12px;
      background-color: #FF9F1C;
      color: #fff;
      border-radius: 360px;
      padding: 4px 8px;
      width: 26px;
      height: 18px;
      font-weight: 300;
    }

    .divider {
      width: 2px;
      height: 34px;
      background: #d1d5db;
    }




    /* CONTENT */
    .page-content {
      background: #fff;
      border-radius: 20px;
      padding: 24px;
      flex: 1;
    }

    /* RESPONSIVE (MOBILE) */
    @media (max-width: 768px) {
      .dashboard {
        flex-direction: column;
      }

      .sidebar {
        width: 100%;
        min-width: 100%;
        height: auto;
        position: relative;
      }
    }